/*******************
全体
*******************/

.small-container {
    max-width: 600px;
    width: 90%;
    margin: auto;
}
.page-title{
    text-align: center;
}
.form-area{
    display: flex;
    flex-direction: column;
}
.form-area input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea#description {
    width: 100%;
}
.center-button{
    text-align: center;
    display: block;
    margin:auto;
}
a{
    text-decoration: none;
    color:#000;
}
/*****************
top
*****************/
.buttons {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

a.top-button {
    padding: 5px 20px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 5px;
}

a.top-button:hover {
    background-color: #bbb;
}
/*******************
商品一覧ページ
*******************/
@media screen and (min-width: 768px) {
    div#product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        grid-template-rows: 1fr 1fr 1fr 1fr;  
        padding: 30px;
    }

}
@media screen and (max-width: 767px) {
    div#product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 30px;
    }

}
.product-item {
    border: 1px solid #ddd;
}
.product-info {
    text-align: center;
    padding: 10px;
}
.product-a{
    text-decoration: none;
}
img{
    width: 100%;
}
button#add-to-cart-button {
    margin: 0 auto;
}

/*******************
マイページ（テーブルはカートページと共有）
*******************/

table {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

td {
    text-align: center;
}
.mypage-text{
    text-align:center;
}
/*******************
カートページ
*******************/
div#total-amount {
    max-width: 600px;
    width: 100%;
    text-align: right;
    margin: 0 auto;
}
.button-area {
    margin-top: 30px;
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

div#cart-container {
    text-align: center;
}